@charset "utf-8";
/**************************************************************

　      _    (_)_(_)
　 ___ | |__  _| |_ _ _ _ __ _ _ __
　/ __\| __ \| | | | ' ' / _` | '_ \     
　| |_ | | | | | | | | |  (_| | | | |	 taipei 
　\___/|_| |_|_|_|_|_|_|_\__,_|_| |_|      2013
　www.chiliman.com.tw
  
		撰寫人員：JimmyChao
		撰寫日期：20130926
		程式功能：模版 - 樣式
		修改人員：
		修改日期：
		註　　解：
***************************************************************
		樣式索引
**************************************************************/
#FrameTop{
	background-color: #fff;
}
#FrameTopLeft{
	background-color: #242a34;
}
#FrameTopLeft a:link, #FrameTopLeft a:visited, #FrameTopLeft a:hover, #FrameTopLeft a:active{
	color: #fff;
}
.TableLine{
	background-color: #313940;
}
.TreeviewFncFile{
	border-bottom-color: #2c3439;
}
.TreeviewSpan{
	background-color: #2c3439;
}
.TreeSel{
	background-color: #2c3439;
}
.FunLink:link, .FunLink:visited, .FunLink:active{
	color: #656d78;
}
.FunLink:hover{
	color: #fff;
}
.FunLinkhover:hover, .FunLinkhover:link, .FunLinkhover:visited, FunLinkhover:active{
	color: #fff;
}
.TreeviewFncFile{
	color: #aab2bd;
}
.TreeviewFncFile:hover{
	color: #fff;
}
/*
#FrameTopRight a#BtnLeftFun{
	background: url(/UpLoad/BackOffice/UI/btn01_dark.png) 0 0 no-repeat;
}
#FrameTopRight a#BtnAppFun{
	background: url(/UpLoad/BackOffice/UI/btn02_dark.png) 0 0 no-repeat;
}
#FrameTopRight a#BtnThemeFun{
	background: url(/UpLoad/BackOffice/UI/btn03_dark.png) 0 0 no-repeat;
}
*/
#memberbox span.name, #memberbox span.title {
	color: #242a34;
}
#FrameTopRight i{
	color: #656d78;
}
#FrameTopRight i:hover{
	color: #000;
}

