@charset "UTF-8";
/* Create with Compass + SCSS on windows */
/* ... 賽珍珠基金會 ... */
.views .text,
.views .text div,
.views .text p, .newsIndex li a, .calc .monthGo a,
.calc .monthGo p {
  font-family: 黑體, 'Microsoft YaHei', 微软雅黑体, 微軟雅黑體, 'Microsoft JhengHei', 微軟正黑體, Arial, Helvetica, sans-serif;
}

.newsMore a, .pageMaker, .pageMaker .num, .calc, .youTube {
  margin: 0 auto;
}

.views .text,
.views .text div,
.views .text p {
  word-spacing: 1px;
  letter-spacing: 1px;
}

.views .text,
.views .text div,
.views .text p {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  color: #333333;
  line-height: 1.8;
}

.hiddenItem {
  font-size: 1px;
  line-height: 0;
  text-indent: 0;
  visibility: hidden;
}

.hideItem {
  display: none;
}

.clearFloat {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  height: 0;
}

.newsTitle {
  margin: 0 !important;
  padding: 0 !important;
  width: 890px;
  height: 50px;
  background-image: url("../images/news_bg_01.gif");
  background-repeat: no-repeat;
  border: none !important;
}

.newsIndex {
  display: block;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 15px;
}
.newsIndex li {
  clear: left;
  border-bottom: #d8d8d8 solid 1px;
}
.newsIndex li a {
  display: block;
  width: 99.5%;
  line-height: 48px;
  color: #666 !important;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsIndex li a:hover .text {
  color: #000 !important;
}
.newsIndex li.reg {
  position: relative;
}
.newsIndex li.reg > a {
  width: 90%;
}
.newsIndex li.reg > a .goReg {
  position: absolute;
  width: 85px;
  height: 32px;
  top: 10px;
  right: 0;
  background-image: url("../images/news_bg_04.gif");
  background-repeat: no-repeat;
}
.newsIndex li a time {
  /*footer 文字*/
  font-size: 84.66%;
  color: #b0b1b4;
  padding-right: 5px;
}
.newsIndex li a .tag {
  /* 從IE9 開始支援 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*footer 文字*/
  font-size: 84.66%;
  padding: 3px 8px;
  color: #fff;
}
.newsIndex li a .title {
  padding: 0 10px;
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  color: #000 !important;
  font-weight: bold;
}
.newsIndex li a .text {
  /*footer 文字*/
  font-size: 84.66%;
}

.newsMore a {
  display: block;
  width: 890px;
  height: 40px;
  background-image: url("../images/partake_bg_01.gif");
  background-repeat: no-repeat;
}

/* Create with Compass + SCSS on windows */
/* ... 賽珍珠基金會 ... */
.pageMaker {
  position: relative;
  height: 70px;
  margin-bottom: 30px;
}
.pageMaker .shell {
  /* 實際使用寬度 */
  width: 700px;
}
.pageMaker .fast {
  position: relative;
}
.pageMaker .fast li {
  position: absolute;
}
.pageMaker .fast li,
.pageMaker .num li {
  display: block;
  width: 33px;
  height: 33px;
  top: 0px;
  border: #ae0025 solid 1px;
}
.pageMaker .fast li a,
.pageMaker .num li a {
  display: block;
  color: #fff;
  background: #ae0025;
  font-size: 85%;
  height: 33px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
}
.pageMaker .fast li a:hover,
.pageMaker .num li a:hover {
  color: #ae0025;
  background: #fff;
}
.pageMaker .fast li .disable,
.pageMaker .num li .current,
.pageMaker .num li .hint {
  display: block;
  color: #ae0025;
  background: #fff;
  font-size: 85%;
  height: 33px;
  line-height: 34px;
  text-align: center;
}
.pageMaker .fast .first {
  left: 0;
}
.pageMaker .fast .prev {
  left: 50px;
}
.pageMaker .fast .next {
  right: 50px;
}
.pageMaker .fast .last {
  right: 0;
}
.pageMaker .num {
  display: block;
}
.pageMaker .num li {
  float: left;
  margin-right: 12px;
}
.pageMaker .num li a {
  font-size: 100%;
}
.pageMaker .num li .current,
.pageMaker .num li .hint {
  font-size: 100%;
  background: #fff;
  font-weight: bold;
}

.pageMaker {
  width: 890px;
}
.pageMaker .shell {
  /* 實際使用寬度 */
  width: 890px;
}
.pageMaker .fast li,
.pageMaker .num li {
  /* 從IE9 開始支援 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: #f8ced0 solid 1px;
}
.pageMaker .fast li,
.pageMaker .num li {
  border: #f8ced0 solid 1px;
}
.pageMaker .fast li a,
.pageMaker .num li a {
  color: #fff !important;
  background: #f8ced0;
}
.pageMaker .fast li a:hover,
.pageMaker .num li a:hover {
  color: #ee8186 !important;
  background: #fff;
}
.pageMaker .fast li .disable,
.pageMaker .num li .current,
.pageMaker .num li .hint {
  color: #ee8186;
}

.calc {
  margin-top: 50px;
  width: 1197px;
  /* 從IE9 開始支援 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #fcb688 solid 1px;
}
.calc dt {
  display: block;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fcb688;
}
.calc dt h3 {
  position: relative;
  display: block;
  height: 64px;
  background-image: url("../images/news_bg_03.gif");
  background-position: center top;
  background-repeat: no-repeat;
  border-bottom: #e8e8e8 solid 1px;
}
.calc dt h3 .note {
  /*只有首頁透過複寫產生*/
}
.calc .monthGo {
  width: 100%;
}
.calc .monthGo br {
  display: none;
}
.calc .monthGo a,
.calc .monthGo p {
  /*內文大標*/
  font-size: 163.2%;
  display: block;
  background: #fff;
  color: #212428;
  height: 58px;
  line-height: 58px;
  text-align: center;
  float: left;
}
.calc .monthGo p {
  width: 669px;
}
.calc .monthGo a {
  width: 264px;
  background: #f2f2f2;
  text-decoration: none;
}
.calc .monthGo .prev span {
  padding-left: 25px;
  background-position: left -10px;
}
.calc .monthGo .next span {
  padding-right: 25px;
  background-position: right -66px;
}
.calc .monthGo a span {
  line-height: 58px;
  text-align: center;
  background-image: url("../images/news_bg_02.gif");
  background-repeat: no-repeat;
}
.calc .wd {
  display: block;
  margin: 0;
  padding: 0;
  border-top: #e8e8e8 solid 1px;
}
.calc .wd li {
  /*內文小標*/
  font-size: 132.6%;
  margin-left: -1px;
  list-style: none;
  float: left;
  width: 170px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border-left: #e8e8e8 solid 1px;
  border-right: #e8e8e8 solid 1px;
}
.calc .full {
  position: relative;
}
.calc .full .bg,
.calc .full h3,
.calc .full .box,
.calc .full .close {
  display: none;
  position: absolute;
}
.calc .full .bg {
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
}
.calc .full .close {
  z-index: 8;
  top: 30px;
  right: 135px;
  width: 30px;
  height: 30px;
  border: #d8d8d8 solid 1px;
  background: #fff;
  cursor: pointer;
}
.calc .full h3 {
  z-index: 10;
  /*天數計算*/
  font-size: 311.1%;
  top: 5px;
  left: 100px;
}
.calc .full .box {
  z-index: 9;
  top: 30px;
  left: 172px;
  bottom: 75px;
  right: 172px;
  overflow: auto;
}
.calc .full .box ol li {
  margin-left: 30px;
  list-style: decimal;
  margin-bottom: 15px;
}
.calc .full .box li a {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  color: #666;
  text-decoration: none;
}
.calc .full .box li a:hover {
  text-decoration: underline;
}
.calc .full .box ol li .sectionShort {
  margin-top: 0;
}
.calc .full .box ol li .sectionShort > br {
  display: none;
}
.calc .full .box ol li .sectionShort span {
  display: block;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8;
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  color: #666;
}
.calc .full .box ol li .sectionShort span strong {
  padding-right: 5px;
}
.calc .days {
  display: block;
  margin: 0;
  padding: 0;
  border-top: #e8e8e8 solid 1px;
  position: relative;
}
.calc .days li {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  margin-left: -1px;
  list-style: none;
  position: relative;
  float: left;
  width: 170px;
  height: 135px;
  border-left: #e8e8e8 solid 1px;
  border-right: #e8e8e8 solid 1px;
  border-bottom: #e8e8e8 solid 1px;
}
.calc .days li.LBfix {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}
.calc .days li.RBfix {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}
.calc .days li.current {
  background: #fcb688;
}
.calc .days li .date {
  /*內文小標*/
  font-size: 132.6%;
  position: absolute;
  width: 33px;
  height: 38px;
  text-align: center;
  top: 10px;
  left: 8px;
  z-index: 1;
}
.calc .days li .tipBtn {
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-image: url("../images/spacer.gif") \9;
}
.calc .days li .tipBtn span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-right: #e8e8e8 solid 1px;
  border-bottom: #e8e8e8 solid 1px;
}
.calc .days li .tipBtn .normal {
  background: #eb6b7d;
}
.calc .days li .tipBtn .school {
  background: #00a4e3;
}
.calc .days li .noteShort {
  border: none;
  margin-left: 25px;
  margin-top: 40px;
}
.calc .days li .noteShort li {
  position: static;
  display: list-item;
  border: none;
  /*footer 文字*/
  font-size: 84.66%;
  line-height: 1.5;
  width: 135px;
  height: auto;
}
.calc .days li .noteShort li a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left !important;
  color: #666;
  text-decoration: none;
}
.calc .days li .noteShort li a:hover {
  text-decoration: underline;
}
.calc .days li .noteShort li a.section {
  color: #00a4e3;
}
.calc .days li .noteShort li .sectionShort {
  display: none;
}

.viewsTitle {
  border-bottom: #d8d8d8 solid 1px;
}

.viewsTitle span {
  padding-left: 10px !important;
}

.tagTitle {
  /* 從IE9 開始支援 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*footer 文字*/
  font-size: 84.66%;
  padding: 1px 8px;
  font-weight: normal;
  color: #fff;
}

.youTube {
  margin-top: 40px;
  width: 888px;
}

.views .text {
  margin-top: 30px;
  margin-bottom: 15px;
}

.views .text,
.views .text div,
.views .text p {
  color: #666;
}

.views .text div,
.views .text p {
  margin-bottom: 15px;
}

.doReg {
  position: relative;
  height: 56px;
}

.doReg a {
  position: absolute;
  display: block;
  right: 0;
  width: 200px;
  height: 56px;
  background-image: url("../images/news_bg_05.gif");
  background-repeat: no-repeat;
}

/* news 6 tag styles start */
.subMenu > ul > li {
  padding: 0 !important;
  background-image: none !important;
}

.subMenu > ul > li > a {
  padding: 0 !important;
  padding-left: 34px !important;
  height: 55px;
  line-height: 55px;
  color: #fff !important;
  background-image: url("../images/news_submenu_bg.gif") !important;
  background-position: top left !important;
}
.subMenu > ul > li > a:hover {
  color: #333 !important;
}

.subMenu > ul > li.style1 a {
  background-position: left 0 !important;
}
.subMenu > ul > li.style1 a:hover {
  background-position: left 0 !important;
}

.subMenu > ul > li.style2 a {
  background-position: left -55px !important;
}
.subMenu > ul > li.style2 a:hover {
  background-position: left -55px !important;
}

.subMenu > ul > li.style3 a {
  background-position: left -110px !important;
}
.subMenu > ul > li.style3 a:hover {
  background-position: left -110px !important;
}

.subMenu > ul > li.style4 a {
  background-position: left -165px !important;
}
.subMenu > ul > li.style4 a:hover {
  background-position: left -165px !important;
}

.subMenu > ul > li.style5 a {
  background-position: left -220px !important;
}
.subMenu > ul > li.style5 a:hover {
  background-position: left -220px !important;
}

.subMenu > ul > li.style6 a {
  background-position: left -275px !important;
}
.subMenu > ul > li.style6 a:hover {
  background-position: left -275px !important;
}

.newsIndex li a .tag.style1 {
  background: #f19791;
}
.newsIndex li a .tag.style2 {
  background: #96d0e9;
}
.newsIndex li a .tag.style3 {
  background: #dcbf38;
}
.newsIndex li a .tag.style4 {
  background: #bc89d2;
}
.newsIndex li a .tag.style5 {
  background: #78cebd;
}
.newsIndex li a .tag.style6 {
  background: #ed9bdd;
}

.tagTitle.style1 {
  background: #f19791;
}

.tagTitle.style2 {
  background: #96d0e9;
}

.tagTitle.style3 {
  background: #dcbf38;
}

.tagTitle.style4 {
  background: #bc89d2;
}

.tagTitle.style5 {
  background: #78cebd;
}

.tagTitle.style6 {
  background: #ed9bdd;
}

/* news 6 tag styles end */
