@charset "UTF-8";
/* Create with Compass + SCSS on windows */
/* ... 賽珍珠基金會 ... */
.docLang {
  margin-bottom: 181px;
  /*40本身的上間距 + 浮動主選單預設高度*/
}

.asidePrat .progress .content h3, .blackBox .wording, .asidePrat .subMenu ul > li > a, .asidePrat .memInfo .name, .asidePrat .progress .content .inScore, .asidePrat .progress .content .limited .all,
.asidePrat .progress .content .limited .now, .asidePrat .login .wrapper .name span,
.asidePrat .login .wrapper .pwd span, .asidePrat .login .wrapper .name input,
.asidePrat .login .wrapper .pwd input, .asidePrat .quiz .wrapper .name span,
.asidePrat .quiz .wrapper .question span,
.asidePrat .quiz .wrapper .code span,
.asidePrat .quiz .wrapper .security span, .asidePrat .quiz .wrapper .name input,
.asidePrat .quiz .wrapper .question textarea,
.asidePrat .quiz .wrapper .security input, .docFull .docRight .superTitle, .docFull .docRight .context .viewsTitle, .views {
  font-family: 黑體, 'Microsoft YaHei', 微软雅黑体, 微軟雅黑體, 'Microsoft JhengHei', 微軟正黑體, Arial, Helvetica, sans-serif;
}

.docLang .lans, .docHeader .siteMenu .logo, .docHeader .siteMenu .saveAndSearch, .docHeader .siteMenu .subNav .wrapper, .docHeader .siteMenu nav, .docFooter .home a, .docFooter article, .docFull, .urlCrumb {
  width: 1200px;
  width: 1200px\9;
}

.asidePrat .login .wrapper .regBtn, .docLang .lans, .docHeader .siteMenu .logo, .docHeader .siteMenu .saveAndSearch, .docHeader .siteMenu .subNav .wrapper, .docHeader .siteMenu nav, .docFooter .home a, .docFooter article, .docFull, .urlCrumb {
  margin: 0 auto;
}

.asidePrat .progress .content h3, .blackBox .wording, .asidePrat .subMenu ul > li > a, .asidePrat .subMenuExtra li h4 a, .asidePrat .progress .content .limited .all,
.asidePrat .progress .content .limited .now, .docHeader .siteMenu nav ul li a, .docFooter article address,
.docFooter article p, .blackBox h1, .docFull .docRight .superTitle, .docFull .docRight .context .viewsTitle, .urlCrumb a, .urlCrumb span, .views {
  word-spacing: 1px;
  letter-spacing: 1px;
}

.asidePrat .progress .content h3, .blackBox .wording {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  color: #333333;
  line-height: 1.8;
}

.hiddenItem {
  font-size: 1px;
  line-height: 0;
  text-indent: 0;
  visibility: hidden;
}

.hideItem {
  display: none;
}

.clearFloat {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  height: 0;
}

.asidePrat dt {
  display: none;
}
.asidePrat .subMenu ul > li,
.asidePrat .calBtn,
.asidePrat .nounBtn,
.asidePrat .progress,
.asidePrat .memInfo,
.asidePrat .login,
.asidePrat .quiz {
  width: 260px;
}
.asidePrat .subMenu ul > li > a,
.asidePrat .calBtn,
.asidePrat .nounBtn,
.asidePrat .progress,
.asidePrat .memInfo,
.asidePrat .login,
.asidePrat .login .wrapper .name input,
.asidePrat .login .wrapper .pwd input,
.asidePrat .login .wrapper .send input,
.asidePrat .login .wrapper .regBtn,
.asidePrat .quiz {
  background-repeat: no-repeat;
}
.asidePrat .subMenu ul > li,
.asidePrat .memInfo,
.asidePrat .calBtn,
.asidePrat .nounBtn,
.asidePrat .progress,
.asidePrat .login,
.asidePrat .quiz {
  margin-bottom: 10px;
}
.asidePrat .subMenu ul > li {
  clear: both;
  display: none;
}
.asidePrat .subMenu ul > li {
  padding-top: 10px;
  background-image: url("../images/submenu_top_bg.gif");
  background-repeat: no-repeat;
  background-position: top left;
}
.asidePrat .subMenu ul > li > a {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  display: block;
  padding-top: 7px;
  padding-bottom: 17px;
  /*height: 55px;*/
  /*line-height: 55px;*/
  padding-left: 18px;
  color: #333333;
  text-decoration: none;
  background-image: url("../images/submenu_bottom_bg.gif");
  background-repeat: no-repeat;
  background-position: bottom left;
}
.asidePrat .subMenu ul > li > a > span {
  display: block;
  padding-left: 11px;
  border-left: #00a4e3 solid 4px;
}
.asidePrat .subMenu ul > li:hover {
  background-position: top right;
}
.asidePrat .subMenu ul > li:hover > a {
  background-position: bottom right;
}
.asidePrat .subMenu ul > li:hover > a span {
  color: #fff;
  border-left: #fff solid 4px;
}
.asidePrat .subMenu ul > li.current {
  background-position: top right;
}
.asidePrat .subMenu ul > li.current > a {
  background-position: bottom right;
}
.asidePrat .subMenu ul > li.current > a > span {
  color: #fff;
  border-left: #fff solid 4px;
}
.asidePrat .subMenuExtra {
  /* 手風琴展開*/
  display: none;
  border-bottom: #00a4e3 solid 1px;
}
.asidePrat .subMenuExtra li {
  margin-top: 14px;
  margin-bottom: 8px !important;
  margin-left: 33px;
  background: none !important;
}
.asidePrat .subMenuExtra li.work h4 a {
  /*color: #00a4e3;*/
}
.asidePrat .subMenuExtra li h4 {
  width: 225px;
  margin-bottom: 10px;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.asidePrat .subMenuExtra li h4 a {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.asidePrat .subMenuExtra li h4 a.current {
  color: #00a4e3;
}
.asidePrat .subMenuExtra li h4 a .dart {
  padding-right: 5px;
  color: #00a4e3;
}
.asidePrat .subMenuExtra p {
  display: none;
  margin-left: 30px;
  width: 195px;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.asidePrat .subMenuExtra p br {
  display: none;
}
.asidePrat .subMenuExtra p a {
  display: block;
  margin-bottom: 5px;
  /*footer 文字*/
  font-size: 84.66%;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
  line-height: 1.4;
}
.asidePrat .subMenuExtra p a:hover {
  color: #00a4e3;
}
.asidePrat .subMenuExtra p a.current {
  color: #00a4e3;
}
.asidePrat .memInfo {
  height: 75px;
  background-image: url("../images/mem_bg.gif");
}
.asidePrat .memInfo .name {
  /*footer 文字*/
  font-size: 84.66%;
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 37px;
  width: 200px;
  height: 25px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.asidePrat .memInfo .setBtn,
.asidePrat .memInfo .outBtn {
  display: block;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  width: 80px;
  height: 25px;
  background-image: url("../images/login_reg_bg.gif");
}
.asidePrat .memInfo .setBtn a,
.asidePrat .memInfo .outBtn a {
  /*footer 文字*/
  font-size: 84.66%;
  font-weight: bold;
  display: block;
  color: #f07742;
  height: 25px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}
.asidePrat .memInfo .setBtn a:hover,
.asidePrat .memInfo .outBtn a:hover {
  text-decoration: underline;
}
.asidePrat .calBtn {
  height: 55px;
  background-image: url("../images/cal_bg.gif");
}
.asidePrat .calBtn a {
  display: block;
  height: 55px;
}
.asidePrat .nounBtn {
  height: 61px;
  background-image: url("../images/noun_bg.gif");
}
.asidePrat .nounBtn a {
  display: block;
  height: 61px;
}
.asidePrat .progress {
  overflow: hidden;
}
.asidePrat .progress .info {
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("../images/account_score_bar_bg_01.gif");
}
.asidePrat .progress .content {
  margin-top: -1px;
  position: relative;
  background: #fdf3d2;
  border: #d8d8d8 solid 1px;
  border-top: none;
}
.asidePrat .progress .content .inScore {
  position: absolute;
  /*right: 5px; JS內控制*/
  font-weight: bold;
  white-space: nowrap;
}
.asidePrat .progress .content .bar {
  clear: left;
  height: 57px;
  border-bottom: #d8d8d8 solid 1px;
}
.asidePrat .progress .content .bar time {
  float: left;
  background: #fff;
  width: 40px;
  height: 42px;
  padding-top: 15px;
  /*padding-top + height = 57*/
  text-align: center;
  color: #c0c0c0;
}
.asidePrat .progress .content .bar time .monthNum {
  /*內文小標*/
  font-size: 132.6%;
}
.asidePrat .progress .content .bar time .month {
  /*footer 文字*/
  font-size: 73.44%;
}
.asidePrat .progress .content .bar > span {
  float: left;
  position: relative;
  /*width: 218px; JS內控制*/
  height: 57px;
  background-image: url("../images/account_score_bar.gif");
}
.asidePrat .progress .content .bar.section0 > time {
  padding-right: 60px;
}
.asidePrat .progress .content h3 {
  padding: 20px 15px;
  color: #f77e30;
  border-bottom: #d8d8d8 solid 1px;
  background: #fff;
}
.asidePrat .progress .content .limited {
  height: 60px;
}
.asidePrat .progress .content .limited .all,
.asidePrat .progress .content .limited .now {
  /*footer 文字*/
  font-size: 84.66%;
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.asidePrat .progress .content .limited .all {
  background: #eb6b7d;
  color: #fff;
  width: 90px;
}
.asidePrat .progress .content .limited .now {
  background: #f19892;
  color: #333;
  width: 168px;
}
.asidePrat .progress .content .limited .now strong {
  /*內文大標*/
  font-size: 163.2%;
}
.asidePrat .progress .content .startOn,
.asidePrat .progress .content .endOn {
  position: absolute;
  width: 60px;
  color: #fff;
  text-align: center;
}
.asidePrat .progress .content .startOn span,
.asidePrat .progress .content .endOn span {
  /*footer 文字*/
  font-size: 73.44%;
}
.asidePrat .progress .content .startOn .date,
.asidePrat .progress .content .endOn .date {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
}
.asidePrat .progress .content .startOn {
  top: 0;
  left: 40px;
  background: #f77e30;
  padding-top: 5px;
  height: 52px;
  /*padding-top + height = 57*/
}
.asidePrat .progress .content .endOn {
  bottom: 1px;
  right: 0;
  background: #2fac66;
  padding-top: 22px;
  height: 35px;
  /*padding-top + height = 57*/
}
.asidePrat .progress .content .endOn span {
  /*footer 文字*/
  font-size: 84.66%;
}
.asidePrat .progress .content .endOn .crown {
  position: absolute;
  left: 9px;
  top: -14px;
  width: 41px;
  height: 29px;
  background-image: url("../images/account_score_bg_03.png");
  background-image: url("../images/account_score_bg_03.gif") \9;
}
.asidePrat .login {
  height: 280px;
  background-image: url("../images/login_bg.gif");
}
.asidePrat .login .spacer {
  display: block;
  height: 44px;
}
.asidePrat .login .wrapper {
  margin: 0 auto;
}
.asidePrat .login .wrapper,
.asidePrat .login .wrapper .send,
.asidePrat .login .wrapper .send input {
  width: 220px;
}
.asidePrat .login .wrapper br {
  display: none;
}
.asidePrat .login .wrapper .name,
.asidePrat .login .wrapper .pwd {
  display: block;
  margin-bottom: 10px;
}
.asidePrat .login .wrapper .name span,
.asidePrat .login .wrapper .pwd span {
  display: block;
  /*footer 文字*/
  font-size: 84.66%;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}
.asidePrat .login .wrapper .name input,
.asidePrat .login .wrapper .pwd input {
  /*footer 文字*/
  font-size: 84.66%;
  color: #333333;
  border: none;
  padding: 5px 10px;
  width: 200px;
  height: 30px;
  /*padding: 5px+width=220 10px+height=40*/
  background-image: url("../images/login_input_bg.gif");
}
.asidePrat .login .wrapper .send {
  display: block;
  height: 40px;
  margin-bottom: 10px;
}
.asidePrat .login .wrapper .send input {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  font-weight: bold;
  height: 40px;
  color: #fff;
  text-align: center;
  border: none;
  background-image: url("../images/login_send_bg.gif");
  background-position: 0px 0px;
  cursor: pointer;
}
.asidePrat .login .wrapper .send input:active {
  border: none;
  padding-right: 1px;
  line-height: 41px;
}
.asidePrat .login .wrapper .regBtn {
  width: 80px;
  height: 25px;
  background-image: url("../images/login_reg_bg.gif");
}
.asidePrat .login .wrapper .regBtn a {
  /*footer 文字*/
  font-size: 84.66%;
  font-weight: bold;
  display: block;
  color: #f07742;
  height: 25px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}
.asidePrat .login .wrapper .regBtn a:hover {
  text-decoration: underline;
}
.asidePrat .login .wrapper .regBtn.doReg {
  float: left;
}
.asidePrat .login .wrapper .regBtn.doRequest {
  float: right;
}
.asidePrat .quiz {
  margin-bottom: 10px;
  height: 445px;
  background-image: url("../images/inquire_form.gif");
}
.asidePrat .quiz .spacer {
  display: block;
  height: 57px;
}
.asidePrat .quiz .wrapper {
  margin: 0 auto;
}
.asidePrat .quiz .wrapper,
.asidePrat .quiz .wrapper .send,
.asidePrat .quiz .wrapper .send input {
  width: 220px;
}
.asidePrat .quiz .wrapper br {
  display: none;
}
.asidePrat .quiz .wrapper .name,
.asidePrat .quiz .wrapper .question,
.asidePrat .quiz .wrapper .code,
.asidePrat .quiz .wrapper .security {
  display: block;
  margin-bottom: 10px;
}
.asidePrat .quiz .wrapper .name span,
.asidePrat .quiz .wrapper .question span,
.asidePrat .quiz .wrapper .code span,
.asidePrat .quiz .wrapper .security span {
  display: block;
  /*footer 文字*/
  font-size: 84.66%;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}
.asidePrat .quiz .wrapper .question span {
  display: none;
}
.asidePrat .quiz .wrapper .name input,
.asidePrat .quiz .wrapper .question textarea,
.asidePrat .quiz .wrapper .security input {
  /*footer 文字*/
  font-size: 84.66%;
  color: #333333;
  border: none;
  padding: 5px 10px;
  width: 200px;
  height: 30px;
  /*padding: 5px+width=220 10px+height=40*/
  background-image: url("../images/inquire_form_bg_01.gif");
}
.asidePrat .quiz .wrapper .question textarea {
  resize: none;
  height: 97px;
  /*padding: 5px+width=220 10px+height=107*/
  background-image: url("../images/inquire_form_bg_02.gif");
}
.asidePrat .quiz .wrapper .question .placeholder {
  color: #acacac;
}
.asidePrat .quiz .wrapper .send {
  display: block;
  height: 40px;
  margin-bottom: 10px;
}
.asidePrat .quiz .wrapper .send input {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  font-weight: bold;
  height: 40px;
  color: #fff;
  text-align: center;
  border: none;
  background-image: url("../images/inquire_form_send_bg.gif");
  background-position: 0px 0px;
  cursor: pointer;
}
.asidePrat .quiz .wrapper .send input:active {
  border: none;
  padding-right: 1px;
  line-height: 41px;
}

@media screen and (max-width: 1199px) {
  .asidePrat dd {
    float: left;
    margin-left: 15px;
  }
  .asidePrat dd:last-child {
    float: left;
  }
}
.docLang .lans {
  height: 40px;
}
.docLang .lans h4 {
  margin-top: 10px;
  float: right;
  /*footer 文字*/
  font-size: 73.44%;
  color: #a1a1a1;
  font-weight: normal;
  height: 20px;
  line-height: 22px;
  padding-right: 25px;
  background-position: right top;
  background-image: url("../images/header_lans_bg_01.gif");
  background-repeat: no-repeat;
}
.docLang .lans ul {
  margin-top: 10px;
  float: right;
}
.docLang .lans ul li {
  float: left;
  margin-right: 22px;
}
.docLang .lans ul li a {
  display: block;
  /*footer 文字*/
  font-size: 73.44%;
  color: #000;
  height: 20px;
  line-height: 22px;
  padding-left: 31px;
  text-decoration: none;
  background-image: url("../images/header_lans_bg_02.gif");
  background-repeat: no-repeat;
}
.docLang .lans ul li a.zhHant {
  background-position: left 0;
}
.docLang .lans ul li a.eng {
  background-position: left -20px;
}
.docLang .lans ul li a.ind {
  background-position: left -40px;
}
.docLang .lans ul li a.thai {
  background-position: left -60px;
}
.docLang .lans ul li a.viet {
  background-position: left -80px;
}

.docHeader {
  width: 100%;
  height: 141px;
  position: absolute;
  z-index: 201;
  top: 40px;
  /*margin-top: -150px;*/
}
.docHeader h1,
.docHeader h2 {
  display: none;
}
.docHeader .siteMenu.active {
  position: fixed;
  z-index: 201;
  top: 0px;
}
.docHeader .siteMenu {
  width: 100%;
  position: relative;
  background: #00a4e3;
}
.docHeader .siteMenu .logo {
  position: relative;
}
.docHeader .siteMenu .logo h4 {
  position: absolute;
  top: 5px;
}
.docHeader .siteMenu .logo h4 img {
  border: none;
}
.docHeader .siteMenu .logo .text {
  position: absolute;
  left: 240px;
  background-image: url("../images/header_logo_01.gif");
  background-repeat: no-repeat;
  width: 203px;
  height: 65px;
}
.docHeader .siteMenu .saveAndSearch dl {
  float: right;
  height: 70px;
}
.docHeader .siteMenu .saveAndSearch dl dt {
  float: left;
}
.docHeader .siteMenu .saveAndSearch dl dd {
  float: left;
}
.docHeader .siteMenu .saveAndSearch dl .savesTitle,
.docHeader .siteMenu .saveAndSearch dl .saves {
  margin-top: 17px;
}
.docHeader .siteMenu .saveAndSearch dl .savesTitle {
  width: 102px;
  background-image: url("../images/header_saves_bg_01.gif");
  background-repeat: no-repeat;
}
.docHeader .siteMenu .saveAndSearch dl .savesTitle h4 {
  display: block;
  /*footer 文字*/
  font-size: 73.44%;
  margin-top: 4px;
  margin-left: 43px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  height: 37px;
}
.docHeader .siteMenu .saveAndSearch dl .saves {
  color: #fff;
  margin-right: 15px;
}
.docHeader .siteMenu .saveAndSearch dl .saves strong {
  float: left;
  padding: 5px 10px;
  /*內文小標*/
  font-size: 132.6%;
  text-align: center;
  background: #0086ba;
  border-bottom: #fff solid 1px;
}
.docHeader .siteMenu .saveAndSearch dl .saves span {
  float: left;
  padding-top: 15px;
  padding-left: 5px;
  /*footer 文字*/
  font-size: 84.66%;
}
.docHeader .siteMenu .saveAndSearch dl .searchTitle {
  display: none;
}
.docHeader .siteMenu .saveAndSearch dl .search {
  margin-top: 17px;
  width: 270px;
}
.docHeader .siteMenu .saveAndSearch dl .search .keyword {
  padding: 0 15px;
  width: 193px;
  background-image: url("../images/header_search_bg_01.gif");
}
.docHeader .siteMenu .saveAndSearch dl .search .btn {
  cursor: pointer;
  width: 38px;
  background-image: url("../images/header_search_bg_02.gif");
}
.docHeader .siteMenu .saveAndSearch dl .search .keyword,
.docHeader .siteMenu .saveAndSearch dl .search .btn {
  float: left;
  border: none;
  height: 32px;
  line-height: 32px;
  background-repeat: no-repeat;
}
.docHeader .siteMenu .subNav {
  width: 100%;
  padding-bottom: 1px;
  background: #bae2f8;
  /*background-position: left bottom;
  background-image: url('../images/header_menu_01.gif');
  background-repeat: repeat-x;*/
}
.docHeader .siteMenu .subNav .wrapper ul {
  float: right;
  display: block;
}
.docHeader .siteMenu .subNav .wrapper ul li {
  float: left;
  margin-top: 23px;
}
.docHeader .siteMenu .subNav .wrapper ul li a {
  display: block;
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  color: #333;
  text-decoration: none;
}
.docHeader .siteMenu .subNav .wrapper ul li a:hover {
  color: #0086ba;
}
.docHeader .siteMenu .subNav .wrapper ul li a span {
  padding: 0 15px;
}
.docHeader .siteMenu .subNav .wrapper ul li a span[lang=zh-Hant] {
  /* 次選單中文字間距*/
}
.docHeader .siteMenu .subNav .wrapper ul li a span[lang=en] {
  /* 次選單英文字間距*/
}
.docHeader .siteMenu .subNav .wrapper ul li a span[lang=in] {
  /* 次選單印尼文字間距*/
}
.docHeader .siteMenu .subNav .wrapper ul li a span[lang=th] {
  /* 次選單泰文字間距*/
}
.docHeader .siteMenu .subNav .wrapper ul li a span[lang=vi] {
  /* 次選單越南文字間距*/
}
.docHeader .siteMenu nav ul {
  float: right;
  padding-bottom: 25px;
}
.docHeader .siteMenu nav ul li {
  float: left;
  display: none;
}
.docHeader .siteMenu nav ul li .subLinks {
  display: none;
}
.docHeader .siteMenu nav ul li a {
  display: block;
  margin-left: 5px;
  color: #fff;
  font-weight: bold;
  height: 45px;
  text-align: center;
  text-decoration: none;
  background-repeat: repeat-x;
}
.docHeader .siteMenu nav ul li a:hover {
  background-image: url("../images/header_menu_02.gif");
}
.docHeader .siteMenu nav ul li a.current {
  background-image: url("../images/header_menu_02.gif");
}
.docHeader .siteMenu nav ul li a span {
  font-size: 88%;
  padding: 0 7px;
  line-height: 45px;
}
.docHeader .siteMenu nav ul li a span[lang=zh-Hant] {
  /* 主選單中文字間距*/
}
.docHeader .siteMenu nav ul li a span[lang=en] {
  /* 主選單英文字間距*/
  /*padding: 0 3px;*/
}
.docHeader .siteMenu nav ul li a span[lang=in] {
  /* 主選單印尼文字間距*/
  /*font-size: 80%;
  padding: 0 3px;*/
}
.docHeader .siteMenu nav ul li a span[lang=th] {
  /* 主選單泰文字間距*/
  /*font-size: 80%;*/
}
.docHeader .siteMenu nav ul li a span[lang=vi] {
  /* 主選單越南文字間距*/
  /*padding: 0 7px;*/
}

.shareOut br {
  display: none;
}
.shareOut .fb,
.shareOut .inquire {
  display: block;
  position: fixed;
  z-index: 200;
  right: -1px;
  width: 40px;
  /* 從IE9 開始支援 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 3px #dbdbdb;
  -moz-box-shadow: 0px 0px 5px 3px #dbdbdb;
  box-shadow: 0px 0px 5px 3px #dbdbdb;
}
.shareOut .fb {
  top: 220px;
  height: 82px;
  background: #3b5998;
  background-image: url("../images/header_share_fb.gif");
}
.shareOut .inquire {
  top: 320px;
  height: 144px;
  background: #edbf1f;
  background-image: url("../images/header_inquire.gif");
}

.docFooter {
  margin-top: 100px;
}

.docFooter {
  width: 100%;
  background: #ffedf1;
}
.docFooter hr {
  display: none;
}
.docFooter .home {
  background: #00a4e3;
  height: 40px;
}
.docFooter .home a {
  display: block;
  line-height: 40px;
  /*footer 文字*/
  font-size: 84.66%;
  color: #fff;
  text-align: center;
  background-image: url("../images/footer_bg_02.gif");
  background-position: 535px 0px;
  background-repeat: no-repeat;
  text-decoration: none;
}
.docFooter article {
  position: relative;
  max-width: 930px;
  width: 930px\9;
  padding-bottom: 20px;
  padding-top: 35px;
  padding-left: 270px;
  background-image: url("../images/footer_bg_01.gif");
  background-position: 0px 40px;
  background-repeat: no-repeat;
}
.docFooter article .titleCht,
.docFooter article .titleEng {
  display: none;
}
.docFooter article address,
.docFooter article p {
  float: left;
  padding-left: 30px;
  margin-right: 25px;
  line-height: 33px;
  /*footer 文字*/
  font-size: 84.66%;
  color: #333333;
  font-weight: bold;
}
.docFooter article .address,
.docFooter article .phone,
.docFooter article .site {
  background-image: url("../images/footer_bg_03.gif");
  background-repeat: no-repeat;
}
.docFooter article .address {
  font-style: normal;
  background-position: 0px 0px;
}
.docFooter article .phone {
  background-position: 0px -30px;
}
.docFooter article .site {
  background-position: 0px -60px;
}
.docFooter article .site a {
  color: #333333;
  text-decoration: none;
}
.docFooter article .site a:hover {
  text-decoration: underline;
}
.docFooter article .cprs {
  padding-left: 0;
}
.docFooter article .visit {
  padding-left: 0;
}
.docFooter article .citi {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 45px;
  right: 25px;
  width: 89px;
  height: 51px;
  background-image: url("../images/citi_logo.gif");
}
.docFooter .privateRule {
  display: none;
}
.docFooter .privateRule.active {
  display: block;
}

/* 隱私權政策*/
.privateCode .ahead {
  font-weight: bold;
}

/* 黑盒子元件*/
.blackOut {
  display: none;
  position: fixed;
  z-index: 10399;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.65;
  filter: alpha(opacity=65);
  /* For IE8 and earlier */
}

.blackBox {
  display: none;
  position: fixed;
  z-index: 10400;
  top: 15%;
  left: 15%;
  bottom: 15%;
  right: 15%;
  /* 從IE9 開始支援 */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #fff;
}

.blackBox .wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.blackBox h1 {
  padding: 30px 0;
  /*margin-top: $chapSpace;
  margin-bottom: $chapSpace;*/
  color: #00a4e3;
  /*內文小標*/
  font-size: 132.6%;
  font-weight: bold;
  border-bottom: #d8d8d8 solid 1px;
  text-align: center;
}

.blackBox .close {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  width: 30px;
  height: 30px;
  background-image: url("../images/close_private_rule.gif");
  border: none;
  cursor: pointer;
}

.blackBox .wording {
  margin: 0 auto;
  padding: 10px 0;
  color: #666;
}

.blackBox .wording p {
  margin-bottom: 30px;
}

.readingPrivateRule {
  overflow: hidden;
}

/* 網頁內容 */
.docFull .docRight {
  width: 890px;
  /*74.2%;*/
  width: 890px\9;
  /*74.2%\9;*/
  float: right;
}
.docFull .docRight .superTitle {
  /*內文最大標*/
  font-size: 204%;
  margin-bottom: 20px;
}
.docFull .docRight .wrapper {
  border-top: #d8d8d8 solid 1px;
  /*padding-top: 40px;*/
}
.docFull .docRight .context {
  border: #d8d8d8 solid 1px;
  border-top: none;
  /*位於wrapper內*/
  /*margin-top: 40px;*/
  padding: 0 30px;
  padding-bottom: 17px;
  color: #333333;
  /*article,
  article p,
  p,
  p span,
  span{
  	@include fontSize("18pt");
  	@extend %mutualFont;
  	@extend %space1px;
  	color: #333333;
  	line-height: 1.8;
  }
  p{
  	margin-bottom: $chapSpace;
  }*/
}
.docFull .docRight .context .viewsTitle {
  padding-top: 40px;
  padding-bottom: 23px;
  /*內文大標*/
  font-size: 163.2%;
  font-weight: normal;
}
.docFull .docRight .context a, .docFull .docRight .context p a {
  color: #5b9ce6;
}
.docFull .docRight .headerLine,
.docFull .docRight .footerLine {
  background-image: url("../images/views_line_bg.gif");
  background-repeat: repeat-x;
}
.docFull .docRight .headerLine {
  background-position: top left;
  border: none;
}
.docFull .docRight .footerLine {
  background-position: bottom left;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.docFull .docRight .clearLineBorder {
  border: none;
}
.docFull .docRight .clearImageBorder {
  background-image: none;
}
.docFull .docLeft {
  width: 310px;
  /*21.7%;*/
  width: 310px\9;
  /*21.7%\9;*/
  float: left;
}

.urlCrumb {
  margin-bottom: 17px;
}
.urlCrumb a, .urlCrumb span {
  /*footer 文字*/
  font-size: 84.66%;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.urlCrumb a:hover {
  text-decoration: underline;
}

.views {
  /*側邊攔標題,內文,標準尺寸*/
  font-size: 102%;
  margin-bottom: 40px;
  min-height: 500px;
}

@media screen and (max-width: 1199px) {
    /*.docFull{
    	width: 95%;
    	
    	.docRight{
			margin-bottom: 40px;
			min-width: 100%;
			float: none;
		}
		.docLeft{
			width: 95%;
			float: none;
		}
    }*/
}
