@charset "utf-8";
/* CSS Document */

.cover{
	position:relative;
	margin:0 auto;
	margin-top:6.7%;
	width:500px;
	height:660px;
}
.cover .logo{}
.cover .logo img{
	display:block;
	width:100%;
	height:auto;
}
.cover .account,
.cover .pwd{
	position:absolute;
	left:0;
	right:0;
}
.cover .account input,
.cover .pwd input{
	display:block;
	width:100%;
	border:#999898 solid 1px;
	box-sizing: border-box;
	color:#767474;
	padding:12px;
	font-size:1em;
}
.cover .account{
	bottom:36%;
}
.cover .pwd{
	bottom:26%;
}
.cover .login,
.cover .findPwd,
.cover .signAlert{
	position:absolute;
	background:none;
	border:none;
	background-color:#8abc23;
	color:#fff;
	cursor:pointer;
	width:100%;
	padding:10px;
	font-weight:bold;
	font-size:1em;
}
.cover .login{
	bottom:9%;
}
.cover .signAlert{
	display:none;
	width:calc(100% - 10px - 10px);
	background-color:#f02525;
	bottom:15.5%;
}
.cover .signAlert.open{
	display:block;
}
.cover .signAlert p{
	color:#fff;
}
.cover .findPwd{
	bottom:0;
}
.cover .mainLogin{
	background-color:#87b2e0;
}
.cover .smallSize{
	width:25%;
	right:0;
	background-color:#fff;
	color:#767474;
}