@charset "UTF-8";
/* 表頭功能 begin */
.main .header.themeSet1 .logoAndUser ul li.btn button {
  background-color: #87b2e0;
}
.main .header.themeSet1 .topMenu {
  background-color: #ababab;
}
.main .header.themeSet1 .breadCrumb {
  background-color: #b9b4d7;
}

.main .header.themeSet2 .logoAndUser ul li.btn button {
  background-color: #8fc325;
}
.main .header.themeSet2 .topMenu {
  background-color: #f5cb59;
}
.main .header.themeSet2 .breadCrumb {
  background-color: #c4dd91;
}

/* 表頭功能 end */
/*資料檢視表格 begin*/
.main .doc .themeSet1 table tr th {
  background-color: #bab2d7;
}

.main .doc .themeSet2 table tr th {
  background-color: #feeb95;
}

/*資料檢視表格 end*/
